<!-- <p>aboutus works!</p> -->
<header class="header-main">
	<h1>BVP SKYLINE</h1>
</header>
<article class="grid">
	<header class="header">
		<h1>LAHARI VILLAS</h1>
		<h2>3BHK Villa </h2>
		<p>₹3.5 Cr</p>
	</header>
	<div class="desc">
		<h3>Property Details</h3>
		<p>Check out 3,4 BHK Villa in Hallmark Floresta, located in Patighanpur. Villas in Hallmark Floresta will cost you in the range of Rs. 3.24 - 5.53 Cr. Hallmark Floresta is already Under Construction .Families will start moving in their Villas from Oct, 2026. Water Softener Plant, Sewage Treatment Plant and CCTV Camera Security are some of the major amenities offered here</p>
	
  </div>
	<div class="actions">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="button is-dark" style="height: 45px;width: 80px;" routerLink="Add">
			<strong>Add to Cart </strong>
		</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="button is-dark" style="height: 45px;width: 80px;" routerLink="Payment">
			<strong>Payment</strong>
		  </a>
	</div>
	<ul class="nav-img">
		<li class="nav-img__item">
			<a href="#img1" class="nav-img__link" style="background-image: url('https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/images/s1i61po_1706616990_470358150_optOrig.jpg');"></a>
		</li>
		<li class="nav-img__item">
			<a href="#img2" class="nav-img__link" style="background-image: url('https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/images/shn3cvh_1706616991_470358154_optOrig.jpg');"></a>
		</li>
		<li class="nav-img__item">
			<a href="#img3" class="nav-img__link" style="background-image: url('https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/construction/mobile-jqrilor_1709029817_476167290.jpg');"></a>
		</li>
		<li class="nav-img__item">
			<a href="#img4" class="nav-img__link" style="background-image: url('https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/maps/r3zmifv_1697017672_450414112.jpg');"></a>
		</li>
		<li class="nav-img__item">
			<a href="#img5" class="nav-img__link" style="background-image: url('https://projectcdn.99acres.com/project_data/3bbff6/block1_116328/3D/55957_B1_1F1_3D.jpg');"></a>
		</li>
	</ul>
	<figure id="img1" class="img img1">
		<img src="https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/images/s1i61po_1706616990_470358150_optOrig.jpg" alt="Image 1" />
	</figure>
	<figure id="img2" class="img img2">
		<img src="https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/images/shn3cvh_1706616991_470358154_optOrig.jpg" alt="Image 2" />
	</figure>
	<figure id="img3" class="img img3">
		<img src="https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/construction/mobile-jqrilor_1709029817_476167290.jpg" alt="Image 3" />
	</figure>
	<figure id="img4" class="img img4">
		<img src="https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/maps/r3zmifv_1697017672_450414112.jpg" alt="Image 4" />
	</figure>
	<figure id="img5" class="img img5">
		<img src="https://projectcdn.99acres.com/project_data/3bbff6/block1_116328/3D/55957_B1_1F1_3D.jpg" alt="Image 5" />
	</figure>
</article>
