<!-- <p>plot works!</p> -->
<section class="destaque">
    <div class="container">
  
      <div class="destaque__card"> 
          <img src="https://newprojects.99acres.com/projects/nishija_akshita_infra_llp/nishija_akshita_eastern_meadows/images/peh3wsv_1700463305_457069020_optOrig.jpg"  alt=""> 
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Featured</div>
          <div class="destaque__card__tag__tarja2">Looking for a land to buy?Exlore Great Investments in Sangareddy  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Open land - For Sale <span class="destaque__info__valor">₹2 Cr</span></h1>
            <h2 class="destaque__info__local">Sangareddy - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>1 Acre</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> kalyan Gardens
            </div> 
  
            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
  
            <!-- <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23633/0/472660948O-1707549274610.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Hot</div>
          <div class="destaque__card__tag__tarja2">Checkout This plot in SLN Gruha Near MyHome Appartments,Tellapur  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Open Plot - For Sale <span class="destaque__info__valor">₹50 L</span></h1>
            <h2 class="destaque__info__local">Tellapur - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>5000sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> My Home Krupa
            </div> 
  
            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
  
            <!-- <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>


      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/jb_infra_projects/jbs_nature_valley/images/0n7stjh_1693028824_441848092_optOrig.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Budget Friendly Open plots for sale in indresham,Patancheru  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Open Plot - For Sale <span class="destaque__info__valor">₹40 L</span></h1>
            <h2 class="destaque__info__local">Indresham - Patancheru</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> Indresham
            </div> 
  
            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
  
            <!-- <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>


      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/alekhya_infra/alekhya_nrs_county/images/zfznula_1693039775_441906032_optOrig.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Exclusive</div>
          <div class="destaque__card__tag__tarja2">Looking for an Open plot in Gandipet?Exlore Great Investments in Nihaja County  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Open Plot - For Sale <span class="destaque__info__valor">₹45 L</span></h1>
            <h2 class="destaque__info__local">Gandipet - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4500sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> nature Park
            </div> 
  
            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
  
            <!-- <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/samruddhi_developers/samruddhi_kalpavrusksha_farm_plots/images/4ulasgo_1708344276_474520418_optOrig.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Checkout this Open land if you are looking to Buy a land in Nallagandla</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Open Land - For Sale <span class="destaque__info__valor">₹5 Cr</span></h1>
            <h2 class="destaque__info__local">Nallagandla - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>2 Acre</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> New Flyover 
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/tetra_reality/tetra_swayam_krushis_prime_enclave/images/j1ukyna_1688985324_432711072_optOrig.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Looking for an Open plot in Tellapur?Exlore Great Investments in Vilas County  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Open Plot - For Sale <span class="destaque__info__valor">₹60 L</span></h1>
            <h2 class="destaque__info__local">Tellapur - Border</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4500sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> Vilas Homes
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23383/5/467665364O-1705457856000.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Checkout this 1 Acre open land in Ambedkar nagar,BHEL. </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Open land - For Sale <span class="destaque__info__valor">₹1.8 - 2 Cr</span></h1>
            <h2 class="destaque__info__local">Ambedkar Nagar Colony </h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>1.1 Acre</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> Sai Baba temple
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://mediacdn.99acres.com/media1/22398/0/447960380O-1695893377101.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Looking for an Open plot Near Lingampally?Exlore  This Great Investment In RC Puram </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Land - For Sale <span class="destaque__info__valor">₹1 Cr</span></h1>
            <h2 class="destaque__info__local">HIG - RC Puram</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>0.8 Acre</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> BHEL Retired Quarters
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://mediacdn.99acres.com/media1/20926/10/418530268O-1681806505657.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja"></div> -->
          <div class="destaque__card__tag__tarja2">Looking for a Residential Land in your Budget?Exlore This Residential Land in bachupally </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Residential Land - For Sale <span class="destaque__info__valor">₹60 L</span></h1>
            <h2 class="destaque__info__local">Gandipet - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3800sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> KRS School
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://mediacdn.99acres.com/media1/21084/0/421680152O-1683392936214.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Open Land/Plot for Sale Near Kali temple,Medchal.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Plot/ Land - For Sale <span class="destaque__info__valor">₹3 Cr</span></h1>
            <h2 class="destaque__info__local">Medchal - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>9000sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> Kali Temple
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23459/0/469180470O-1706103077548.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Looking for an Open plot/Land Near Kondapur?Exlore  This Great Investments In Nature Valley </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Land - For Sale <span class="destaque__info__valor">₹45 L</span></h1>
            <h2 class="destaque__info__local">Kondapur -Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>6000 Sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> Kondapur
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23714/9/474289424O-1708244426865.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Checkout this open Land/plot for sale in HillRock,Pragati nagar</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Plot/Land - For Sale <span class="destaque__info__valor">₹70 L</span></h1>
            <h2 class="destaque__info__local">Pragati Nagar</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>5000 sq.ft</span> Area
            </div>
  
             <div class="destaque__info__tag">
              <span>Near</span> Subha Homes
            </div> 
  
            <!-- <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>  -->
          </div>
        </div>
      </div>

    </div>
</section>