<!-- <p>residential works!</p> -->
<section class="destaque">
    <div class="container">
  
      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/hallmark_builders/hallmark_floresta/images/s1i61po_1706616990_470358150_optOrig.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Featured</div>
          <div class="destaque__card__tag__tarja2">Check Out This Beautiful 3BHK Villa with Attached garden and Swimming pool Located in JUbille Hills,Lahari Villas.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Villa - For Sale <span class="destaque__info__valor">₹3.5Cr</span></h1>
            <h2 class="destaque__info__local">Jubilee Hills - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="destaque__card">
  
        <img src="https://rb.gy/wyzrjp" alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">HOT</div>
          
          <div class="destaque__card__tag__tarja2">Luxurious 4BHK villa with Spacious Garden And Dual Garrage Located in Nallagandla,Laxmi Vihar.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Villa - For Sale <span class="destaque__info__valor">₹4.2 Cr</span></h1>
            <h2 class="destaque__info__local">Nallagandla - FlyOver</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4500sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Garages
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/22864/2/457282742O-1705229103947.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">exclusivity</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Villa with Garden Area and a Garage in Doen's Phase-1 Colony,Kondapur.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Villa - For Sale<span class="destaque__info__valor">₹3.8 Cr</span></h1>
            <h2 class="destaque__info__local">Doen's - Kondapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garages
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="destaque__card">
  
        <img src="https://rb.gy/t1yhbg" alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Exclusive</div>
          <div class="destaque__card__tag__tarja2">2BHK Independent Duplex Home Fo sale in Vertex Homes Near Kalyan Gardens,Miyapur.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹3 Cr</span></h1>
            <h2 class="destaque__info__local">Miyapur - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3500sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>

            <!-- <div class="destaque__info__tag">
              <span>2</span> Garages
            </div> -->
          </div>
        </div>
      </div>
      <div class="destaque__card">
  
        <img src="https://rb.gy/h67xko" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3BHK villa For sale in Aditya Towers Near vikas School,Nizampet.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Villa - For Sale <span class="destaque__info__valor">₹3.2 Cr</span></h1>
            <h2 class="destaque__info__local">Nizampet - Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
  
            <!-- <div class="destaque__info__tag">
              <span>2</span> Garages
            </div> -->
          </div>
        </div>
      </div>
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23153/12/463072026O-1703243815853.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent Three floor Residential House for sale in Gulmohar Park Colony,Serilingampally.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹2.5 Cr</span></h1>
            <h2 class="destaque__info__local">GPC - Lingampally</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> 1BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> 2BHK
            </div>
          </div>
        </div>
      </div>
      <div class="destaque__card">
  
        <img src="https://rb.gy/566arm" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent Five floored Residential House for sale in Old MIG Colony,BHEL.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹2.8 Cr</span></h1>
            <h2 class="destaque__info__local">Old MIG - BHEL</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> 1BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> 2BHK
            </div>
          </div>
        </div>
      </div>
  
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23258/3/465163538O-1704337397151.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent single Storied Residential House for sale in New MIG Colony,BHEL.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹1.2 Cr</span></h1>
            <h2 class="destaque__info__local">New MIG - BHEL</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> 2BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Parking
            </div>
          </div>
        </div>
      </div>
  
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23836/4/476724082O-1709224621845.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent two Storied Residential House for sale in HIG Colony,BHEL.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹2.2 Cr</span></h1>
            <h2 class="destaque__info__local">HIG - BHEL</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> 2BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> 1BHK
            </div>
          </div>
        </div>
      </div>
  
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23208/13/464173568O-1703795315338.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent three Storied Residential House with Pent House & Parking Slot for sale in Autumn Colony,Bachupally.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹2.5 Cr</span></h1>
            <h2 class="destaque__info__local">Bachupally - Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3500sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3 1/2</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> 2BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> 1BHK
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23563/10/471270554O-1706967575722.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent Five Storied Residential House for sale in Ram Nagar Colony,Secunderabad</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹4 Cr</span></h1>
            <h2 class="destaque__info__local">RN Colony-Secunderabad</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3800sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> 2BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> 1BHK
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23286/10/465730922O-1704539001719.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent two and half Storied Residential House with Pent House for sale in Gandhi nagar.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹2 Cr</span></h1>
            <h2 class="destaque__info__local">Gandhi Nagar - Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2 1/2</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> 2BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> 1BHK
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/sri_mytri_constructions/sri_mytri_aavasa/images/jhjlp9bx_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Villa with attached Garrage and Spacious Garden For Sale in Jana Priya Villas,Miyapur. </div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Villa - For Sale <span class="destaque__info__valor">₹3.5 Cr</span></h1>
            <h2 class="destaque__info__local">JP Villas - Miyapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> garrage
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/rsr_greenway_infra/rsr_the_garden_view_villa/images/mopusio_1709710894_477869356_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent Triplex Residential House with dual Parking Slot for sale in SkyHigh Homes,Nallagandla.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹4 Cr</span></h1>
            <h2 class="destaque__info__local">SkyHigh - Nallagandla</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garden
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Parking Slot
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/siva_sai_infra_projects/siva_sai_infra_myra/images/uqqoxuz_1689224661_433269976_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3 BHK Residential Villa with open Balcony and Parking Slot For sale in Vilas Homes,Bachupally.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Residential Villa - For Sale <span class="destaque__info__valor">₹3.1 Cr</span></h1>
            <h2 class="destaque__info__local">Vilas Homes - Bachupally</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3900sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Parking
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23662/6/473246272O-1707817066350.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent three Storied Residential House with Parking Slot for sale in Ambedkar Colony,Tellapur.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹3 Cr</span></h1>
            <h2 class="destaque__info__local">Tellapur - Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3600sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> bathrooms
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23336/0/466720478O-1704976246366.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Residential two Storied  House  for sale in Dubey Colony,Balnagar.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹2.8 Cr</span></h1>
            <h2 class="destaque__info__local">Balnagar - Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Stories
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> 2BHK
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> 1BHK
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23670/0/473400206O-1707891286176.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent Residential House with Open Garden on Top for sale in Huda Colony,Chandanagar.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent House - For Sale <span class="destaque__info__valor">₹2 Cr</span></h1>
            <h2 class="destaque__info__local">Huda - Chandanagar</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garden
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://mediacdn.99acres.com/media1/21507/1/430141142O-1687796132806.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">Independent 3BHK Independent House with Parking Slot for sale in Gulmohar Park Colony,Lingampally.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">Independent Duplex House - For Sale <span class="destaque__info__valor">₹2.8 Cr</span></h1>
            <h2 class="destaque__info__local">Gulmohar Park - Lingampally</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3500sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> parking
            </div>
          </div>
        </div>
      </div>
      
      <div class="destaque__card">
  
        <img src="https://newprojects.99acres.com/projects/creative_homes_hyderabad/creative_west_winds/images/lojmaid_1708432036_474723936_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Residential Duplex  House with Parking Slot for sale in  Housing Board Colony,Kukatpally.</div>
        <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Villa - For Sale <span class="destaque__info__valor">₹2 Cr</span></h1>
            <h2 class="destaque__info__local">HB Colony - Kukatpally</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> parking slot
            </div>
          </div>
        </div>
      </div>
      
  
    </div>
  </section>