<!-- <p>apparment works!</p> -->
<section class="destaque">
    <div class="container" >
  
      <div class="destaque__card" routerLink="aboutus">
  
        <img src="https://newprojects.99acres.com/projects/abode_developers/abode_m_j_lakeview/images/hyqvm3sp_optOrig.jpeg"
                             alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Featured</div>
          <div class="destaque__card__tag__tarja2">3BHK Flat with Required Maintainance Facilities For Sale in Adobe Appartments Near Kondapur. </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat - For Sale <span class="destaque__info__valor">₹1.8 Cr</span></h1>
            <h2 class="destaque__info__local">Kondapur - X Roads</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span>Balcony
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>
      <div class="destaque__card">

        <img src="https://imagecdn.99acres.com/media1/23912/19/478259842O-1709816725173.jpg" alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">HOT</div>
          
          <div class="destaque__card__tag__tarja2">5 storie Appartment for sale  in Krupa homes,Chevella.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Appartment - For Sale <span class="destaque__info__valor">₹6 Cr</span></h1>
            <h2 class="destaque__info__local">chevella - Junction</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3600sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> Floors
            </div>
  
            <div class="destaque__info__tag">
              <span>12</span> portions
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Cellar for parking
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/m_k_india_enterprises//images/uad5aen_1704782217_466168758_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">exclusivity</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Flat with Open Balcony and Parking Slot in SkySkape Appartments,Kondapur.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">Flat - For Sale<span class="destaque__info__valor">₹1.8 Cr</span></h1>
            <h2 class="destaque__info__local">Doen's - Kondapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> kitchen
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/sv_constructions_hyderabad/sv_emrald_height/images/ojcyzeb_1709882830_478390556_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat for Sale In jana priya Appartments.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹1 Cr</span></h1>
            <h2 class="destaque__info__local">Janapriya - Miyapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3500sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Kitchen
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/qualitas_golden_enclave/qualitas_nestilo/images/7m9t6xw_1706008383_468936278_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Flat for Sale  in Qualitas Appartments In Nallagandla.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat - For Sale <span class="destaque__info__valor">₹1.5 Cr</span></h1>
            <h2 class="destaque__info__local">Qualitas - Nallagandla</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3800sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Kitchen
            </div>
            <div class="destaque__info__tag">
              <span>1</span> Wash area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/jai_sri_devi_homes/devi_homes_samruddhi/images/bhgkbnj_1704282704_465098180_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat for Sale In virtue Appartments Near Gangaram,Chandanagar.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹1 Cr</span></h1>
            <h2 class="destaque__info__local"> - Virtue -Chandanagar</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3500sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Kitchen
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/kalyan_infra_projects/kalyan_skyway_9/images/h8wurne_1695712941_447510056_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat with parking Area for Sale In Kalyan SkyWay  Appartments,Lingampally.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹1.2 Cr</span></h1>
            <h2 class="destaque__info__local">Skyway - Lingampally</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3600sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Kitchen
            </div>
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/vajram_constructions/vajram_ixora/images/kqy5eor_1698660147_453798614_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Spacious Flats for Sale In Vajram IXOR Appartments Near Forum Mall,Kukatpally.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flats - For Sale <span class="destaque__info__valor">₹1.6 Cr</span></h1>
            <h2 class="destaque__info__local">IXOR - Kukatpally</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3800sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Kitchen
            </div>
            <div class="destaque__info__tag">
              <span>2</span> Parking Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/beautiful_properties/beautiful_bhavesha_chsl/images/3rlxmv4_1698480502_453465596_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Flat for Sale In Bavesha Appartments Near Bachupallt X ROads.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat - For Sale <span class="destaque__info__valor">₹1.2 Cr</span></h1>
            <h2 class="destaque__info__local">Bachupally - Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Kitchen
            </div>
            <div class="destaque__info__tag">
              <span>1</span> Parking Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/natasha_developers/natasha_atlantis/images/qprw9os_1692338993_440259608_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Luurious Flat for Sale In MyHome Krupa Appartments Near Hafeezpet,Miyapur.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flats - For Sale <span class="destaque__info__valor">₹2 Cr</span></h1>
            <h2 class="destaque__info__local">Hafeezpet - Flyover</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Parking Area
            </div>
            <div class="destaque__info__tag">
              <span>1</span> Lawn
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/sri_sai_krishna_constructions/sri_saikrishna_prime/images/lhdvz7k_1704969892_466687484_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat With Open Balcony And Dual Parking Area For Sale IN Locally Apartments,Kondapur.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flats - For Sale <span class="destaque__info__valor">₹1.3 Cr</span></h1>
            <h2 class="destaque__info__local">Locally - Kondapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3300sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash area
            </div>
            <div class="destaque__info__tag">
              <span>2</span> Parking Area 2/4Wheeler
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/haimi_builders/haimi_nirvana/images/dlbwbsy_1690549552_436323702_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Flat With Open Balcony And Dual Parking slot  for Sale In Spectra  Appartments Near Gangaram,Chandanagar.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat - For Sale <span class="destaque__info__valor">₹1.6 Cr</span></h1>
            <h2 class="destaque__info__local">Chandanagar - Gangaram</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3600sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <span>2</span> Parking Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/sunteck_group/sunteck_signia_isles/images/rb1ap96q_optOrig.jpeg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat   for Sale In Signia  Appartments Near Kukatpally Flyover.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹1.4 Cr</span></h1>
            <h2 class="destaque__info__local">Kukatpally - Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <span>1</span> Parking Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/pcpl/pcpl_serene_apartment/images/v0tnk3c8_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat with Open Balcony For Sale In Signia Appartments,Tellapur.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹1.1 Cr</span></h1>
            <h2 class="destaque__info__local">Signia  - Tellapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3100sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <span>1</span> Parking Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/adarsh_homes//images/khatp9na_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat  for Sale In Ahuja  Appartments Near GSM Mall,Madinaguda.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">90-95 L</span></h1>
            <h2 class="destaque__info__local">Madinaguda -Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <span>1</span> Parking Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/jss_reality/jss_sai_sky_villa_apartments/images/69mjmrk_1700026521_456257040_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK luxurious Flat With Open Balcony And Dual Parking slot  for Sale Sai Sky Villa ,Balnagar.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹1.3 Cr</span></h1>
            <h2 class="destaque__info__local">Balnagar -Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <span>2</span> Parking Slots
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/garg_and_mittal_properties/garg_and_mittal_builder_floors/images/amhy5id_1700477358_457141992_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Spacious Flat up  for Sale Skyroute Appartments ,Ashoknagar.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹1 Cr</span></h1>
            <h2 class="destaque__info__local">Ashoknagar -Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">

        <img src="https://newprojects.99acres.com/projects/rathore_builder/rathore_luxury_homes/images/p6knyub_1702291489_460971782_optOrig.jpg" alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Exclusive</div> -->
          <div class="destaque__card__tag__tarja2">2BHK Flat up  for Sale in  vilas Homes,Gandipet.</div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat - For Sale <span class="destaque__info__valor">₹90 L</span></h1>
            <h2 class="destaque__info__local">Gandipet -Centre</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>

            <div class="destaque__info__tag">
              <span>1</span> Parking Area
            </div>
          </div>
        </div>
      </div>

      
    </div>
</section>