<!-- <p>rent works!</p> -->
<section class="destaque">
    <div class="container">
  
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23669/5/473385620O-1707884785001.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Featured</div>
          <div class="destaque__card__tag__tarja2">Check Out This Beautiful 3BHK Furnished Flat For Rent   Located in Shreya Homes,BHEL.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat- For Rent <span class="destaque__info__valor">₹35k/Mo</span></h1>
            <h2 class="destaque__info__local">BHEL - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/22704/9/454089212M-1707646943174.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">HOT</div>
          <div class="destaque__card__tag__tarja2">Independent 3BHK Furnished Duplex House For Rent In Autumn Homes,Bachupally  .  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK House- For Rent <span class="destaque__info__valor">₹65k/Mo</span></h1>
            <h2 class="destaque__info__local">Bachupally - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Balcony/Wash Area
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23927/11/478551238M-1709922363352.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <div class="destaque__card__tag__tarja">Best</div>
          <div class="destaque__card__tag__tarja2"> Fully furnished 4BHK Duplex House for Rent in Vertex Homes,Gandipet. </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">4BHK House- For Sale <span class="destaque__info__valor">₹1.2L/Mo</span></h1>
            <h2 class="destaque__info__local">Gandipet - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4800sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23972/5/479445968O-1710254761179.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">3BHK Flat With Furniture Available For Rent Near Krs Colony,Bachupally.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK House- Rent <span class="destaque__info__valor">₹60k/Mo</span></h1>
            <h2 class="destaque__info__local">Bachupally - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Parking Slot
            </div>

            <div class="destaque__info__tag">
              <a routerLink="User">Open Site</a>
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23947/6/478946052O-1710089284817.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out this 2BHK Flat if you are looking for a spacious Home for Rent In Budget at Hitex,kondapur.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat- For Rent <span class="destaque__info__valor">₹40k/Mo</span></h1>
            <h2 class="destaque__info__local">hitex - Kondapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3800sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Parking Slot
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23348/11/466971678O-1710330361810.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Beautiful 3BHK Duplex Residential house for rent  Located in LV Colony,Miyapur.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Residential House- For Rent <span class="destaque__info__valor">₹80k/Mo</span></h1>
            <h2 class="destaque__info__local">LV Colony - Miyapur</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area & Parking
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23596/0/471920956O-1707282754808.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2"> 2BHK fully Furnished Flat for rent in Western Plaza Appartments near DMart-Chandanagar.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat- For Rent <span class="destaque__info__valor">₹25k/Mo</span></h1>
            <h2 class="destaque__info__local">Western plaza - Chandanagar</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3600sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area&kitchen
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23875/6/477506720O-1709555920058.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Fully furnished 3BHK Residential house For Rent  Located in Swagruha Homes,Ambedkar Nagar.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat- For Sale <span class="destaque__info__valor">₹35k/Mo</span></h1>
            <h2 class="destaque__info__local">Swagruha - BHEL</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3600sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms &Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span>Parking(2W/4W) 
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash &Kitchen
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23822/11/476451298O-1709125559238.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Beautiful 3BHK Fully Furnished Spacious Flat For Rent  Located in Aparna Appartments,nallagandla.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat- For Rent <span class="destaque__info__valor">₹75k/ Mo</span></h1>
            <h2 class="destaque__info__local">Aparna-Nallagandla</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Parking Slot&Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23933/13/478673322O-1709979366942.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">2BHK unfurnished Flat for Rent In BVP Homes,Madinaguda .  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat- For Rent <span class="destaque__info__valor">₹20k/Mo</span></h1>
            <h2 class="destaque__info__local">Madinaguda - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area&parking slot
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23905/6/478106400O-1709793020614.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Spacious ,Furnished 3BHK Duplex Residential House For Rent  Located in Pragati Nagar,Bachupally.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK House- For Rent <span class="destaque__info__valor">₹1L/Mo</span></h1>
            <h2 class="destaque__info__local">Pragati Nagar - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4500sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms&Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Parking Slot
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Garden&Balcony
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23669/5/473385620O-1707884785001.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">4 Bedroom House For Rent with full furniture Located in Jubille hills.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">4BHK Residential house- For Sale <span class="destaque__info__valor">₹1.8L/Mo</span></h1>
            <h2 class="destaque__info__local">JubileeHills - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4800sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Parking for(2W&4W)
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Lawn&Balcony 
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23824/8/476488310O-1709139463804.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Beautiful 3BHK Villa For Rent with Full Furniture  Located in Vertex Villas,Tellapur.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Villa- For Rent <span class="destaque__info__valor">₹1.5L/Mo</span></h1>
            <h2 class="destaque__info__local">Tellapur - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4400sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area&parking
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23815/1/476301034M-1709101415974.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Beautiful 3BHK Home with Full Furniture Available for rent  Located in Adhya colony,Madinaguda.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK House- For Sale <span class="destaque__info__valor">₹1.1L/Mo</span></h1>
            <h2 class="destaque__info__local">madinaguda - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23810/2/476202450O-1709037737560.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Spacious 4BHK Villa With Limited Furniture Available for Rent In laxmi Vihar,Nallagandla.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">4BHK Residential Villa- For Rent <span class="destaque__info__valor">₹2L/Mo</span></h1>
            <h2 class="destaque__info__local">Nallagandla - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4800sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>5</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Parking&Balcony
            </div>
          </div>
        </div>
      </div>
      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23906/12/478132776O-1709874005755.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Unfurnished 3BHK Flat For Rent  Located in My Homes- Jewel,Madinaguda opposite GSM Mall.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">3BHK Flat- For Sale <span class="destaque__info__valor">₹40k/Mo</span></h1>
            <h2 class="destaque__info__local">Madinaguda - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>4</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23444/4/468884912O-1705999955605.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">2Bhk Flat Un furnished for Rent In Ayudha Homes,Adarsh NAgar.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat- For Rent <span class="destaque__info__valor">₹20k/Mo</span></h1>
            <h2 class="destaque__info__local">Adarsh nagar </h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3200sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23939/9/478789518M-1710038221287.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This  2BHK Budget Flat For Rent  Located in HIG,BHEL.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat- For Rent <span class="destaque__info__valor">₹40K/Mo</span></h1>
            <h2 class="destaque__info__local">HIG - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3300sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23587/0/471740456M-1707206860254.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This fully furnished 1BHK House for rent  Located in Old MIG,BHEL.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">1BHK Residential home- For Rent <span class="destaque__info__valor">₹18k/Mo</span></h1>
            <h2 class="destaque__info__local">Old Mig - BHEL</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>4000sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

      <div class="destaque__card">
  
        <img src="https://imagecdn.99acres.com/media1/23412/12/468252374O-1705667946554.jpg"
                             alt="">
  
        <div class="destaque__card__content">
          <!-- <div class="destaque__card__tag__tarja">Featured</div> -->
          <div class="destaque__card__tag__tarja2">Check Out This Beautiful Partly furnished 2BHK Flat For Rent  Located in Ashoknagar.  </div>
          <div class="destaque__info">
            <h1 class="destaque__info__nome">2BHK Flat- For Rent <span class="destaque__info__valor">₹35k/Mo</span></h1>
            <h2 class="destaque__info__local">Ashoknagar - Center</h2>
          </div>
  
          <div class="destaque__info__tags">
            <div class="destaque__info__tag">
              <span>3400sq.ft</span> Area
            </div>
  
            <div class="destaque__info__tag">
              <span>2</span> Rooms
            </div>
  
            <div class="destaque__info__tag">
              <span>3</span> Bathrooms
            </div>
  
            <div class="destaque__info__tag">
              <span>1</span> Wash Area
            </div>
          </div>
        </div>
      </div>

    </div>
</section>