<div class="main">
  <section class="hero">
    <div class="wrapper herowrapper">
      <div class="content">
        <h1>Our Client’s Success is Our Success</h1>
        <p style="color: white;"><b>Welcome to BVP Skyline, where we redefine the essence of home. With a dedicated team and a passion for exceptional service, we specialize in finding your perfect property match.
             Let us guide you through every step of your real estate journey, turning your dreams of home ownership into reality</b></p>
        <!-- <button class="ctabtn" style="color: white;">View Property</button> -->
      </div>
    </div>
    <!-- <div class="heroform">
      <input type="text" placeholder="Property" />
      <input type="text" placeholder="Location" />
      <button class="ctabtn">
        <svg
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg"
             >
          <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                />
        </svg>
        Search</button>
    </div> -->
  </section>
  <section class="wrapper about">
    <div class="content">
      <h1>About Us</h1>
      <h2>our mission is simple</h2>
      <p>At BVP Skyline, we're more than just a real estate agency – we're your partners in finding your dream home or maximizing the value of your property. With a rich legacy of integrity, professionalism, and client satisfaction, we've established ourselves as trusted advisors in the real estate market.
     <br>Our team of experienced agents brings a wealth of knowledge and expertise to every transaction, ensuring that your needs are met with precision and care. Whether you're buying, selling, or investing, we provide personalized guidance tailored to your unique goals and aspirations.
    <br> Transparency and communication are at the core of our philosophy. We believe in keeping you informed at every stage of the process, empowering you to make well-informed decisions with confidence. Our commitment to excellence extends beyond the transaction – we're here to support you long after the deal is done.</p>
      <!-- <button class="ctabtn">Learn More</button> -->
    </div>
    <div class="image">
      <img src="https://images.unsplash.com/photo-1594081500655-8cf4a358b934?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzI1NTk1OQ&ixlib=rb-1.2.1&q=85" alt="Room Image" />
    </div>
  </section>
  <section class="featured">
    <div class="wrapper">
      <div class="images">
        <img src="https://images.unsplash.com/photo-1578282147845-9864f0740447?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzMxMDkzMw&ixlib=rb-1.2.1&q=80&w=400" />
        <img src="https://images.unsplash.com/photo-1600493504591-aa1849716b36?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzMxMDk0NA&ixlib=rb-1.2.1&q=80&w=400" />
        <img src="https://images.unsplash.com/photo-1616628198585-6add765244e0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzMxMDkzMw&ixlib=rb-1.2.1&q=80&w=400" />
        <img src="https://images.unsplash.com/photo-1600494448868-9fbd1ac2d9f5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzMxMDk0NA&ixlib=rb-1.2.1&q=80&w=400" />
      </div>
      <div class="content">
        <h1>featured home</h1>
        <h2>we're proud of our work</h2>
        <p>1.Recognized as a top-producing agency with consistent sales growth year over year.<br>
            2.Awarded for exceptional client satisfaction, evidenced by positive feedback and testimonials.<br>
            3.Established market leadership, setting standards and trends within the industry.<br>
            4.Specialized expertise in niche markets such as luxury homes, commercial properties, and vacation rentals.<br>
            5.Active community involvement and philanthropic initiatives, demonstrating a commitment to giving back.</p>
        <!-- <button class="ctabtn">See More Homes</button> -->
      </div>
    </div>
  </section>
  <section class="wrapper testimonials">
    <div class="content">
      <h1>testimonials</h1>
      <h2>what our clients say</h2>
    </div>
    <div class="quotes">
      <article class="quote">
        <div class="quote__header">
          <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="Face" />
          <span class="quote__name">Sri Chakri</span>
          <figure class="quote__star" style="--rating: 5;"></figure>
        </div>
        <div >
          <p>I had a fantastic experience working with [Agency Name]. Their team was attentive, knowledgeable, and went above and beyond to find me the perfect home. I highly recommend them to anyone in the market for real estate services.</p>
          <!-- <button class="ctabtn">Read More</button> -->
        </div>
      </article>
      <article class="quote">
        <div class="quote__header">
          <img src="https://randomuser.me/api/portraits/lego/3.jpg" alt="Face" />
          <span class="quote__name">kaalu Ajay</span>
          <figure class="quote__star" style="--rating: 4;"></figure>
        </div>
        <div >
          <p>Choosing BVP Skyline was the best decision I made when searching for my new home. Their agents truly listened to my needs and preferences, and they found me a property that exceeded my expectations. I couldn't be happier with the outcome!</p>
          <!-- <button class="ctabtn" (onclick)="DisplayMessage()">Read More</button> -->
            <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup">
    Launch static backdrop modal
  </button>

           Modal
  <div class="modal fade" id="popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div> -->
        </div>
      </article>
      
      <article class="quote">
        <div class="quote__header">
          <img src="https://randomuser.me/api/portraits/lego/8.jpg" alt="Face" />
          <span class="quote__name">Mahesh</span>
          <figure class="quote__star" style="--rating: 3.5;"></figure>
        </div>
        <div >
          <p> As a first-time homebuyer, I was nervous about the whole process, but [Agency Name] made it seamless and stress-free. They patiently answered all my questions, provided valuable insights, and helped me find the perfect home within my budget. I'm grateful for their expertise and highly recommend their services</p>
          <!-- <button class="ctabtn">Read More</button> -->
        </div>
      </article>
      <article class="quote">
        <div class="quote__header">
          <img src="https://randomuser.me/api/portraits/lego/7.jpg" alt="Face" />
          <span class="quote__name">Vamshi</span>
          <figure class="quote__star" style="--rating: 4.5;"></figure>
        </div>
        <div >
          <p>I can't thank BVP Skyline enough for their professionalism and dedication throughout the selling process. They guided me every step of the way and achieved a great result for my property. Their communication was excellent, and I felt supported from start to finish</p>
          <!-- <button class="ctabtn">Read More</button> -->
            <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" (onclick)="openModal()">
    Launch static backdrop modal
  </button> -->

  <!-- <div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" (onclick)="closeModal()"  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quam aut vitae quisquam mollitia nulla atque dolorum, fugit iusto, repudiandae, nisi facere? Optio, expedita amet ipsa itaque vero id deleniti!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (onclick)="closeModal()" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
        </div>
      </article>
    </div>
  </section>
</div>
  